.body {
    width: 100vw;
    height: 92vh;
    padding: 4% 6% 4% 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e6e6e6;
}

.container {
    min-width: 400px;
    width: 30vw;
    height: auto;
    background-color: #262626;
    border-radius: 10px;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.container > h1 {
    margin-bottom: 5%;
}

.container > form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.inputs {
    border: none;
    background: none;
    border-bottom: 1px solid #e6e6e6;
    min-width: 20vw;
    width: 100%;
    padding: 2% 5%;
    color: #e6e6e6;
    font-size: 16px;
    letter-spacing: 1px;
}

.title {
    margin-top: 5%;
}

.content {
    margin-top: 10%;
    margin-bottom: 10%;
}

.submit {
    border: none;
    width: 100%;
    background-color: #e6e6e6;
    color: #262626;
    padding: 3% 0;
    border-radius: 6px;
    cursor: pointer;
}